body {
    background-color:#efddb2;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* GENERAL */

.general {

    height: 30em;
    width: 60em;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pantalla {
    background-color: black;

    height: 28em;
    width: 40em;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex-direction: row; */

    border: 1em solid rgb(36, 32, 32);

    border-radius: 0.5em;
   
}


.pantalla_interior {
    background-color: rgb(17, 16, 16);

    height: 26em;
    width: 33em;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    /*background-image: url(img/749936\ Small.png);
    background-repeat: no-repeat;
    background-size: 120%; */
}

.barra_izq {
    background-color: #288fb4;

    height: 30em;
    width: 10em;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    border-radius: 4em 0em 0em 4em;
}

.barra_izq_top {
    background-color: transparent;

    height: 9em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;


}

.left_stick {
background-color: black;

height: 5em;
width: 5em;

border-radius: 50%;



}

.barra_izq_center {
    background-color:transparent;
    height: 9em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_botones{
    
    height: 8em;
    width: 8em;
}


.fila_botones {
 height: calc(8em/3);
 width: 8em;

}

.centrado {

    display: flex;
    align-items: center;
    justify-content: center;

    
}

.extremos {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.boton {
    background-color: black;

 height: calc(8em/3);
 width: calc(8em/3);

 border-radius: 5em;

}

.barra_izq_bottom {
    background-color: transparent;
    height: 9em;
    width: 10em;
}

.barra_der {
    background-color: #288fb4;

    height: 30em;
    width: 10em;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    border-radius: 0em 4em 4em 0em;
}

.barra_der_top {

    background-color:transparent;

    height: 10em;
    width: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0em 4em 0em 0em;
}


.barra_der_center {

    height: 10em;
    width: 10em;

    display: flex;
    align-items: center;
    justify-content: center;
}


.right_stick{
    background-color: black;
    
    height: 5em;
    width: 5em;
    
    border-radius: 50%;
}
    

.barra_der_bottom {

    background-color: transparent;

    height: 10em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;
}


